<img src="grandstand.jpg">

# Risk Portfolio Management Program : Golden Gate Fields

# Stage 1
## - Data Mining

In [54]:
import numpy as np
import pandas as pd
from selenium import webdriver

import warnings
warnings.filterwarnings("ignore")

# scraping from Iframe

# entries

In [8]:
driver =  webdriver.PhantomJS()    
driver.get("http://www.drf.com/race-entries/track/GG/country/USA/date/04-15-2018?header=N")

In [45]:
date = driver.find_elements_by_css_selector('.entriesDtlsHead')
print(date[0].text)
weather = driver.find_elements_by_css_selector('.entriesDtlsLeft')
print(weather[0].text)
info1 = driver.find_elements_by_css_selector('.entriesRaceHeader')
info2 = driver.find_elements_by_css_selector('.entriesRaceDisc')

Sunday, April 15, 2018
Golden Gate Fields
Rain Showers Likely Precip: 68% High: 55°F | Low: 43°F

In [46]:
weather = pd.DataFrame(data=[date[0].text,weather[0].text])
weather

                                                   0
0                             Sunday, April 15, 2018
1  Golden Gate Fields\nRain Showers Likely Precip...

In [47]:
info_li1 = []
info_li2 = []
count1 = 0
rows = []

for i in range(len(info1)):
    info_li1.append(info1[i].text)
    info_li1[count1] = info_li1[count1].split(" ")
    
    rows.append(info_li1[count1])
    
    count1 += 1

info_1 = pd.DataFrame(rows) 
info_1

,0,1,2,3,4,5,6,7,8,9,10,11
0,Race,1,Post:,12:15,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's
1,Race,2,Post:,12:50,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's
2,Race,3,Post:,1:22,PM,PT,Turf\nBET,NOW!\n+,GET,PP's,None,None
3,Race,4,Post:,1:55,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's
4,Race,5,Post:,2:30,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's
5,Race,6,Post:,3:05,PM,PT,Turf\nBET,NOW!\n+,GET,PP's,None,None
6,Race,7,Post:,3:37,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's
7,Race,8,Post:,4:07,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's
8,Race,9,Post:,4:34,PM,PT,Turf\nBET,NOW!\n+,GET,PP's,None,None
9,Race,10,Post:,5:00,PM,PT,All,Weather,Track\nBET,NOW!\n+,GET,PP's

In [48]:
info_li2 = []
count2 = 0
rows2 = []

for j in range(len(info2)):
    info_li2.append(info2[j].text)
#     info_li2[count2] = info_li2[count2].split(" ")
    
    rows2.append(info_li2[count2])
    
    count2 += 1

info_2 = pd.DataFrame(rows2) 
info_2

                                                   0
0  1 Mile | Open | 3 Year Olds And Up | MAIDEN CL...
1  1 Mile | Open | 3 Year Olds And Up | CLAIMING ...
2  1 1/16 Miles | Open | 3 Year Olds | MAIDEN CLA...
3  6 Furlongs | Open | 3 Year Olds And Up | CLAIM...
4  5 1/2 Furlongs | Open | 3 Year Olds And Up | M...
5  5 Furlongs | Fillies and Mares | 3 Year Olds A...
6  5 1/2 Furlongs | Open | 3 Year Olds And Up | C...
7  6 Furlongs | Fillies and Mares | 3 Year Olds A...
8  1 Mile | Open | 3 Year Olds And Up | CLAIMING ...
9  1 Mile | Fillies and Mares | 3 Year Olds And U...

In [50]:
head = driver.find_elements_by_css_selector('.headRow')

In [51]:
info_li3 = []
count3 = 0
rows3 = []

for i in range(len(head)):
    info_li3.append(head[i].text)
#     info_li2[count2] = info_li2[count2].split(" ")
    
    rows3.append(info_li3[count3])
    
    count3 += 1

info_3 = pd.DataFrame(rows3) 
info_3

                                                   0
0  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
1  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
2  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
3  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
4  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
5  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
6  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
7  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
8  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
9  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...

In [52]:
horse = driver.find_elements_by_css_selector('.dataTable')

In [53]:
info_li4 = []
count4 = 0
rows4 = []

for i in range(len(horse)):
    info_li4.append(horse[i].text)
#     info_li2[count2] = info_li2[count2].split(" ")
    
    rows4.append(info_li4[count4])
    
    count4 += 1

info_4 = pd.DataFrame(rows4) 
info_4

                                                    0
0   # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
1   1 1\nML 15-1\nTailored\nC. Herrera\n125 Lbs\nJ...
2   # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
3   1 1\nML 8-1\nJens de Ville\nP. Flores\n123 Lbs...
4   # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
5   1 1\nML 12-1\nSenja\nC. Martinez\n118 Lbs\nO. ...
6                Equipment Changes:\n1 Senja - Blk-On
7   # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
8   1 1\nML 2-1\nHoly Clem\nA. Cedillo\n125 Lbs\nC...
9             Equipment Changes:\n4 Stocked - Blk-Off
10  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
11  1 1\nML 8-1\nSutter\nI. Orozco\n119 Lbs\nD. Of...
12    Equipment Changes:\n3 Starting Lineup - Blk-Off
13  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
14  1 1\nML 15-1\nHandful of Pearls\nC. Herrera\n1...
15  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
16  1 1\nML 6-1\nPulmarack\nF. Duran\n125 Lbs\nE. ...
17  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
18  ML 20-1\nPepper Chrome\nR. Bowen\n.\n2 2\nML 1...
19  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
20  1 1\nML 7-2\nIrish Goodbye\nH. Martinez\n123 L...
21  # PP ODDS HORSE\n\n(Last 3 Beyers)\nJOCKEY\nWe...
22  ML 1-1\nForeverinsummer\nW. Antongeorgi III\n....

# results

In [55]:
driver =  webdriver.PhantomJS()    
driver.get("http://www.drf.com/race-results/tracks/GG/country/USA/date/04-15-2018?header=N")

In [56]:
result = driver.find_elements_by_css_selector('.dataTable')

In [64]:
info_li5 = []
count5 = 0
rows5 = []

for i in range(len(result)):
    info_li5.append(result[i].text)
#     info_li2[count2] = info_li2[count2].split(" ")
    
    rows5.append(info_li5[count5])
    
    count5 += 1

info_5 = pd.DataFrame(rows5) 
info_5

                                                    0
0   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
1   3 Capes Hot Rocket C. Martinez\n125Lbs\nS. Cal...
2   Times in 5ths: :251   :50   1:141   1:264   1:...
3   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
4   2 Spanish Eyes F. Alvarado\n123Lbs\nI. Tamayo ...
5   Times in 5ths: :252   :494   1:142   1:27   1:...
6   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
7   5 Lighthouse Boogie R. Gonzalez\n120Lbs\nS. Sh...
8   Times in 5ths: :251   :513   1:162   1:412   1...
9   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
10  2 Blazingulch W. Antongeorgi III\n125Lbs\nI. T...
11  Times in 5ths: :223   :454   :58   1:103  \nTi...
12  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
13  2 Buckbeak F. Alvarado\n125Lbs\nB. Maelfeyt 4....
14  Times in 5ths: :213   :454   :582   1:044  \nT...
15  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
16  4 Bolt Up S. Amador\n123Lbs\nW. Morey 5.20 3.6...
17  Times in 5ths: :212   :444   :57  \nTimes in 1...
18  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
19  4 John Paul's Bet A. Cedillo\n125Lbs\nR. Hess,...
20  Times in 5ths: :213   :441   :563   1:031  \nT...
21  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
22  9 Laynee R. Gonzalez\n123Lbs\nA. Mathis 11.60 ...
23  Times in 5ths: :23   :454   :574   1:103  \nTi...
24  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
25  4 El Alteno S. Amador\n125Lbs\nR. March 5.00 3...
26  Times in 5ths: :234   :481   1:13   1:254   1:...
27  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
28  6 Glamsquad F. Alvarado\n125Lbs\nW. Morey 7.00...
29  Times in 5ths: :244   :494   1:14   1:27   1:3...

In [65]:
# close driver
driver.close()

# # save csv
# df.to_csv("database.csv", encoding="utf-8")

# # display dataframe
# df

# next date

In [66]:
driver =  webdriver.PhantomJS()    
driver.get("http://www.drf.com/race-results/tracks/GG/country/USA/date/04-14-2018?header=N")

In [71]:
result = driver.find_elements_by_css_selector('.dataTable')

In [72]:
info_li5 = []
count5 = 0
rows5 = []

for i in range(len(result)):
    info_li5.append(result[i].text)
#     info_li2[count2] = info_li2[count2].split(" ")
    
    rows5.append(info_li5[count5])
    
    count5 += 1

info_5 = pd.DataFrame(rows5) 
info_5

                                                    0
0   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
1   5 Kung Pow Chick W. Antongeorgi III\n125Lbs\nB...
2   Times in 5ths: :24   :474   1:00   1:12  \nTim...
3   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
4   6 Forever the Chief J. Couton\n125Lbs\nC. DeLi...
5   Times in 5ths: :244   :50   1:143   1:27   1:3...
6   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
7   3 Mr. Twinery W. Antongeorgi III\n125Lbs\nJ. H...
8   Times in 5ths: :222   :453   :574   1:101  \nT...
9   # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
10  4 Going for Bling J. Hernandez\n125Lbs\nB. McL...
11  Times in 5ths: :214   :463   :591  \nTimes in ...
12  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
13  4 Ronald R (IRE) I. Orozco\n123Lbs\nS. Callagh...
14  Times in 5ths: :241   :484   1:124   1:38   1:...
15  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
16  5 Cook Up a Storm P. Terrero\n120Lbs\nD. Markl...
17  Times in 5ths: :244   :502   1:153   1:282   1...
18  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
19  7 Castle R. Gonzalez\n127Lbs\nA. Mathis 7.00 3...
20  Times in 5ths: :241   :491   1:131   1:252   1...
21  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
22  5 Ballerina Headline F. Duran\n125Lbs\nE. Moge...
23  Times in 5ths: :213   :452   :58   1:042  \nTi...
24  # HORSE JOCKEY\nWeight\nTRAINER WIN $ PLACE $ ...
25  4 One Son of a Chief C. Martinez\n125Lbs\nA. T...
26  Times in 5ths: :243   :494   1:133   1:254   1...

# error exception

In [73]:
driver =  webdriver.PhantomJS()    
driver.get("http://www.drf.com/race-results/tracks/GG/country/USA/date/04-12-2018?header=N")

In [77]:
# error messeage
# class = errorMsg

In [74]:
result = driver.find_elements_by_css_selector('.dataTable')

In [75]:
info_li5 = []
count5 = 0
rows5 = []

for i in range(len(result)):
    info_li5.append(result[i].text)
#     info_li2[count2] = info_li2[count2].split(" ")
    
    rows5.append(info_li5[count5])
    
    count5 += 1

info_5 = pd.DataFrame(rows5) 
info_5

Empty DataFrame
Columns: []
Index: []

# python dataframe Regex

### https://chrisalbon.com/python/data_wrangling/pandas_regex_to_create_columns/

In [ ]:
# close driver
driver.close()

# save csv
df.to_csv("database.csv", encoding="utf-8")

# display dataframe
df

# Stage 2
## - Modeling